.nav-nmn{
    .nav{
        justify-content: space-between;
       
    }
    .image-back-main{
      
    }
}

.main-outer-content{
    margin-top: 60px;
    .search-in{
        position: relative;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 50px;
        input{
            border: none;
            background: rgb(15, 15, 15);
            border: 2px solid #fdb409;
            border-radius: 100px;
            width: 100%;
            padding: 10px 20px;
            padding-right: 40px;
            color: #fff;
            outline: none;
        }
        .icons-search{
            position: absolute;
            top:12px;
            right:20px;
            i{
                color: rgb(158, 156, 156);
            }
        }
    }
    .right-side-mbn{
        box-sizing: border-box;
        box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
        // border-radius: 16px;
        background: rgb(15, 15, 15);
        padding: 30px 20px;
        border-style: solid;
        border-width: 10px;
        border-image: linear-gradient(45deg, #ff4436, #fdb409) 1;
        .form-mnb{
            .choosecat{
                h6{
                    font-family: 'poppins';
                    color: rgb(163, 162, 162);
                    font-size: 16px;
                    margin-top: 26px;
                }
                .outer-choose{
                    padding-top: 20px;
                    button{
                        font-family: 'poppins';
                        font-size: 16px;
                        font-weight: 500;
                        padding: 10px 20px;
                        background: transparent;
                        outline: none;
                        box-shadow: none;
                        border-radius: 100px;
                        border: 1px solid rgb(182, 180, 180);
                        color: rgb(182, 180, 180);
                        margin-bottom: 16px;
                        margin-right: 20px;
                        i{
                            font-size: 16px;
                            padding-right: 12px;
                        }
                    }
                }
            }
            input{
                background: transparent;
                border: none;
                border-bottom: 2px solid #b8b8b9;
                border-radius: 0px;
                box-shadow: none;
                outline: none;
                padding-left: 0px;
                margin-bottom: 20px;
                margin-top: 20px;
                color: rgb(214, 212, 212);
                &::placeholder{
                    color: rgb(182, 180, 180);
                }
            }
            textarea{
                background: transparent;
                border: none;
                border-bottom: 2px solid #b8b8b9;
                border-radius: 0px;
                box-shadow: none;
                outline: none;
                margin-bottom: 20px;
                margin-top: 20px;
                color: rgb(214, 212, 212);
            }
        }
        h4{
            font-family: 'poppins'!important;
            font-size: 30px;    
            background: -webkit-linear-gradient(#ff4436, #fdb409);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 30px;
            padding-top: 0px;
            text-align: center;
        }
        h5{
            font-family: 'poppins'!important;
            font-size: 22px; 
            color: rgb(211, 210, 210);
        }
        .upload-item{
            h5{
                font-family: 'poppins'!important;
                font-size: 16px; 
                color: rgb(182, 180, 180)!important;  
                margin-top: 16px;
            }
            .outer-items{
                border: 2px dashed rgb(192, 188, 188);
                width: 100%;
                height: 180px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 20px;
                p{
                    color: rgb(192, 188, 188);
                }
                label{
                    background: linear-gradient(to right, #ff4436, #fdb409);
                    color: #fff;
                    font-size: 20px;
                    padding: 8px 20px;
                    border-radius: 10px;
                    margin-top: 20px;
                }
            }
        }
    }
    .form-group{
        label{
            color: rgb(192, 188, 188);
        }
    }
        .ITEM-CARD{
            border: double 5px transparent;
            border-radius: 16px;
            background-image: linear-gradient(rgb(24, 23, 23), rgb(26, 25, 25)), radial-gradient(circle at top right, #fdb409,#ff4436);
            background-origin: border-box;
            background-clip: content-box, border-box;
            cursor: pointer;
            transition: transform .5s;
            &:hover{
                transform: scale(0.9);
            }
            .upper-div-img{
                height: 240px;
                width: 100%;
                img{
                    width: 100%;
                    height: 240px;
                    padding: 10px;
                    object-fit: cover;
                    transition: transform .2s;
                    border-radius: 16px;
                }
            }
            .profile-img{
                background: #fcf6e0;
                border: 2px solid rgb(182, 181, 181);
                width: 60%;
                text-align: center;
                border-radius: 100px;
                padding: 10px 0px;
                margin: -40px auto 20px;
               position: relative;
               z-index: 111;
                img{
                    width: 34px;
                    height: 34px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                font-size: 14px;
                color: #000;
                font-weight: 600;
            }
            .lower-text-ares{
                padding: 20px;
                .rtyui{
                    margin-top: 15px;
                    margin-bottom: 0px;
                    padding-bottom: 12px;
                }
                .fee{
                    background: #fff;
                    color: orange;
                    padding: 10px 20px;
                    margin-bottom: 22px;
                    
                }
                padding: 0px 10px;
                h4{
                    font-size: 22px;
                    font-weight: 600;
                    padding-bottom: 20px;
                    padding-top: 0px;
                    color: rgb(212, 212, 212);
                }
                .price{
                    display: flex;
                    padding-bottom: 10px;
                    h6{
                        color: rgb(144, 142, 142);
                    }
                   
                    span{
                        color: rgb(243, 75, 75);
                    }
                }
                .datess{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    border-bottom: 2px solid rgb(226, 223, 223);
                    .ncvb{
                       h5{
                           margin-bottom: none;
                           background-color: rgb(189, 188, 188);
                           width: 55px;
                           height: 40px;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                       } 
                       p{
                           margin-bottom: none;
                           font-weight: 600;
                           color: #000;
                           font-size: 13px!important;
                           padding-top: 4px;
                       }
                    }
                }
                .buttonss{
                    button{
                        background: linear-gradient(to right, #ff4436, #fdb409);
                        border: none;
                        padding: 12px 30px;
                        color: #fff;
                        border-radius: 10px;
                        width: 50%;
                        margin-bottom: 30PX;
                        &:hover{
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
            .loert{
                padding: 20px;
            }
        }
    
}

.anme-button{
   
        button{
            background: linear-gradient(to right, #ff4436, #fdb409);
            border: none;
            padding: 12px 30px;
            color: #fff;
            border-radius: 10px;
            width: 50%;
            margin-bottom: 30PX;
            &:hover{
                background-color: #000;
                color: #fff;
            }
        }
}